@font-face {
    font-family: PrintClearly;
    src: url(font/Print-Clearly/PrintClearly.otf) format(opentype);
    font-weight: normal;
    font-style: normal;
}

/* Don't shrink past 270px */
html, body {
    min-width: 270px;
}

body {
    font-family: 'PrintClearly';
    background-color:#FAF9F6;
}

#title {
    font-size: 4em;
    text-align: center;
    margin: 1rem auto;
}

#subtitle {
    display: flex;
    margin: 0 0 3rem 0;
    font-size: 1.5rem;
    justify-content: center;
}

#elevators {
    display: flex;
    justify-content: space-evenly;
}

.elevator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
    width: 35%;

    border-width: 1px;
    border-color: black;
    border-style: solid;
    border-radius: 15px;

    /* Not bad green background color: #88bb889c */
    /* Not bad red background color: rgb(203, 120, 120) */
    background-color: rgb(203, 120, 120);
}

.elevator.working {
    background-color: #88bb889c;
}

.elevator.working .not {
    display: none;
}

.elevator img {
    width: 100%;
    height: 100%;

    /* This helps keep the footer in frame for bigger screens */
    max-height: 300px;
}

.elevator h3 {
    font-size: 3.5em;
    margin-top: 10px;
    margin-bottom: 0;
}

#footer {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.footer-link {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-link p {
    margin: 0.5rem 0;
}

/* Keep link color consistent */
.footer-link p a {color: #0066cc};
.footer-link p a:visited {color: #0066cc};

@media screen and (max-width: 900px) {
    #elevators {
        flex-direction: column;
        align-items: center;
    }

    .elevator {
        width: 80%;
        margin-bottom: 50px;
    }

    #subtitle {
        text-align: center;
    }
}

/* Resize font inside elevator div */
@media screen and (max-width: 420px) { .elevator h3 { font-size: 2.25em; }}

/* Dark mode settings */
@media (prefers-color-scheme: dark) {
    
}
